{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet">
    <link href="https://file.myfontastic.com/rnpudCeVLo2WNTk3Pfp8MY/icons.css" rel="stylesheet">
  </head>
  <body>
    <!--Este es el menu con un clic que muestra una barra de menu secundaria, la hice creando un top-bar y dentro de ese top-bar metiendo un title-bar que es el que siempre esconde. Importante mencionar que en ese title-bar deje vacia la opcion de "data-hide-for" para que la barra que habilita a la otra barra siempre se muestre. Tambien manejo top-bar-left y top-bar-right. Importante revisar los menus verticales y solo horizontales para large y mediums screens-->
      <div class="top-bar" id="main_barra">
        <div class="top-bar-left">
          <div class="title-bar" data-responsive-toggle="second_barra" data-hide-for="" id="menu_hamburguer">
            <div class="" style="margin-right: 30px; padding: 0px;">
              <img src="{% static 'css/img/logo-c.png'%}">
            </div>  
            <button class="menu-icon" type="button" data-toggle="second_barra"></button>
            <div class="title-bar-title texto_main_barra" id="texto_menu">Menu</div>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="" class="texto_main_barra text-center" id="login_menu_btn">ALREADY A MEMBER? <strong>SIGN IN</strong></a></li>
            <!--<li><a href="" class="texto_main_barra text-center" id="register_menu_btn">IF NOT, <strong>REGISTER NOW</strong></a></li>-->
          </ul>
        </div>
      </div>
        <div class="menu-centered" id="second_barra">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="{% url 'Home'%}" class="texto_main_barra"><span class="icon-home icon_menu"></span> Home</a></li>
            <li><a href="{% url 'shippers'%}" class="texto_main_barra"><span class="icon-shippers icon_menu"></span>For Shippers</a></li>
            <li><a href="{% url 'carriers'%}" class="texto_main_barra"><span class="icon-carriers icon_menu" style="font-weight: bolder;"></span>For Carriers</a></li>
            <li><a href="{% url 'story'%}" class="texto_main_barra"><span class="icon-story icon_menu"></span>Our Story</a></li>
            <li><a href="{% url 'faq'%}" class="texto_main_barra"><span class="icon-faq icon_menu"></span>FAQ</a></li>
            <li><a href="{% url 'team'%}" class="texto_main_barra"><span class="icon-team icon_menu"></span>Team</a></li>
            <li><a href="" class="texto_main_barra"><span class="icon-blog icon_menu"></span>Community</a></li>
          </ul>
         </div>
        <!--Aca empieza como tal el contneido de cada pagina--> 
          <div class="row column expanded foto_principal">
            <div class="row column expanded filtro_negro">
              <div class=" row titulos">
                <div class="column large-7 medium-6 small-10">
                  <h1 class="text-left titulo_principal">NEGOTIATE DIRECTLY WITH SHIPPERS</h1>
                  <h2 class="text-left subtitulo">Take the power of negotiation.</h2>
                  <p class="text-left texto_refuerzo">“With CargoBot, you take part of a transparent truck transportation network (3TN) that knows the power of negotiation should be in the carriers hands.”</p>
                </div>
              </div>
              <div class="row cta_amarillo">
                <div class="column large-4 medium-4 small-8">
                  <a href="" class="button float-left boton_amarillo">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!--bloque de Tipos de Carriers-->
          <div class="row expanded fleet_carrier">
            <div class="column step_by_step large-6 medium-12 small-12">
              <div class="row expanded">
                <div class="column contenedor_steps">  
                  <h2 class="carrier_type">FLEET</h2>
                  <h4 class="carrier_type_sub">Corporate Carrier</h4>
                  <p class="carrier_type_text">“A truck company, with a minimum of one truck and uses an internal dispatcher within the company that finds the loads for the driver/s.”</p>
                  <!--Inicio de div de la grilla-->
                  <div class="row small-up-1 medium-up-2 large-up-2 grilla">
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step1 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">1. Sign up</h5>
                        <p class="text_step">Create credentials to access portal</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step2 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">2. Check email</h5>
                        <p class="text_step">Further instructions to input information (insurance, drivers, trucks, dispatcher)</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step3 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">3. Verify your account</h5>
                        <p class="text_step">Takes us 24-hours to verify insurance</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step4 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">4. Account enabled</h5>
                        <p class="text_step">Begin receiving loads</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step5 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">5. Close a Deal</h5>
                        <p class="text_step">Book a load, send to driver, get paid</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                  </div>  
                  <!--Finaliza el Div de la Grilla-->

                </div>
              </div>
            </div>
            <div class="column as_a large-6 medium-12 small-12">
              <div class="row expanded foto_intermedia">
                <div class=" row expanded filtro_azul">
                  <div class="column small-centered large-centered medium-centered content_fotos_azules">
                    <h4 class="text-center titulo_foto_azul">CargoBot<br>Coporate Carrier</h4>
                    <p class=" text-center texto_foto_azul">My company works with CargoBot’s corporate manager portal, dispatcher portal, and CargoBot’s corporate mobile app.</p>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <!-- Segundo BLoque-->
          <div class="column as_a large-6 medium-12 small-12">
              <div class="row expanded foto_intermedia2">
                <div class=" row expanded filtro_negro">
                  <div class="column small-centered large-centered medium-centered content_fotos_azules">
                    <h4 class="text-center titulo_foto_azul">CargoBot<br>Owner Operator</h4>
                    <p class=" text-center texto_foto_azul">My company works with CargoBot Freelance app and I do it all from my mobile.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row expanded fleet_carrier">
            <div class="column step_by_step large-6 medium-12 small-12">
              <div class="row expanded">
                <div class="column contenedor_steps">  
                  <h2 class="carrier_type">OWNER</h2>
                  <h4 class="carrier_type_sub">Owner Operator</h4>
                  <p class="carrier_type_text">“A truck company that does not use an internal dispatcher. The driver of the one truck is his /her own dispatcher and finds loads while on the road.”</p>
                  <!--Inicio de div de la grilla-->
                  <div class="row small-up-1 medium-up-2 large-up-2 grilla">
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step1 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">1. Sign Up</h5>
                        <p class="text_step">Create credentials to access app</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step2 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">2. Download the app</h5>
                        <p class="text_step">Cargobot Freelance app available for Android or iPhone users</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step3 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">3. Check email</h5>
                        <p class="text_step">Further instructions to input information (truck and insurance)</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step4 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">4. Verify your account</h5>
                        <p class="text_step">Takes us 24-hours to verify insurance</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                    <!--grilla de Pasos-->
                    <div class="column column-block ">
                      <div class="column large-2 step-icon">
                        <span class="icon-step5 icon-steps"></span>
                      </div>
                      <div class="column large-10" id="step-bloque">
                        <h5 class="step">5. Account enabled</h5>
                        <p class="text_step">Receive and book loads instantly on your phone</p>
                      </div>
                    </div>
                    <!--finaliza  elemento de la grilla-->
                  </div>  
                  <!--Finaliza el Div de la Grilla-->
                </div>
              </div>
            </div>
          </div>
          <!--Finalizacion Segundo Bloque-->
          <!--Bloque de Beneficios-->
          <div class="row column expanded beneficios">
            <div class="row">
              <div class="column">
                <h2 class="text-center titulo_beneficios">SAME PROCESS BUT BETTER</h2>
              </div>
            </div>
            <div class="row small-up-1 medium-up-2 large-up-3 grilla_beneficios">
              <!--Elemento de grilla beneficios-->
             <div class="column column-block ">
                <img src="{% static 'css/img/benefit-1.png'%}" class="">
                <br>
                <p class="texto_b_beneficios">Receive Loads</p>
                <p class="texto_n_beneficios">Operating in all the US, receive loads sent directly to you filtered by your trailer type.</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/benefit-2.png'%}" class="">
                <br>
                <p class="texto_b_beneficios ">Empower Yourself</p>
                <p class="texto_n_beneficios ">Have the power to negotiate directly with shippers, eliminate intermediaries.</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/benefit-3.png'%}" class="">
                <br>
                <p class="texto_b_beneficios ">Transparency</p>
                <p class="texto_n_beneficios ">Track your trucks, receive a rate of confirmation, know your profit, no hidden fees.</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/benefit-4.png'%}" class="">
                <br>
                <p class="texto_b_beneficios ">Guaranteed Payment</p>
                <p class="texto_n_beneficios ">CargoBot takes responsibility of payment, offers quick pay, no transaction fees.</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/benefit-5.png'%}" class="">
                <br>
                <p class="texto_b_beneficios ">Customer Service Associate</p>
                <p class="texto_n_beneficios ">Technology simplifies our process but our associates behind technology ignite the transaction.</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/benefit-6.png'%}" class="">
                <br>
                <p class="texto_b_beneficios ">Electronic Documentation</p>
                <p class="texto_n_beneficios ">Send, receive, and store all documents electronically through the portal or app (BOL's, POD's, Rate Confirmation)</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
            </div>
          </div>
          <!--Finalizacion Bloque de Beneficios-->       
          <div class="row column expanded foto_argumento_cierre">
            <div class="row column expanded filtro_amarillo">
              <div class="row contenedor_cierre">
                <div class="column large-centered small-centered">
                  <h2 class="text-center texto_cierre">EFFICIENCY, TRANSPARENCY, RELIABILITY</h2>
                </div>
              </div>
              <div class="row">
                <div class="column large-4 medium-4 small-8 large-centered medium-centered small-centered">
                  <a href="" class="button expanded float-center boton_cierre">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        <!--Aca finaliza el contenido de cada pagina--> 
        <!--Footer con top-bar y dividido en top-bar-left y top-bar right para alienar elementos a la derecha y a la izquierda-->
         <div class="top-bar" id="footer"><!--Un "id" para el Background Color-->
           <div class="top-bar-left">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-facebook icon_menu"></span>Facebook</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-instagram icon_menu"></span>Instagram</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-linkedin icon_menu"></span>Linkedin</a></li>
             </ul>
           </div>
           <div class="top-bar-right">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center">Terminos y Condiciones</a></li>
               <li class=""><a href="" class="textos_footer text-center">Politica y Privacidad</a></li>
               <li class=""><a href="" class="textos_footer text-center">2017 CargoBot Inc. </a></li>
               <li class=""><a href="" class="textos_footer text-center"><strong>By Mostaza Studio</strong></a></li>
             </ul>
           </div>
         </div>
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/vendor/what-input.js'%}"></script>
    <script src="{% static 'js/vendor/foundation.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
