{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet">
    <link href="https://file.myfontastic.com/rnpudCeVLo2WNTk3Pfp8MY/icons.css" rel="stylesheet">
  </head>
  <body>
    <!--Este es el menu con un clic que muestra una barra de menu secundaria, la hice creando un top-bar y dentro de ese top-bar metiendo un title-bar que es el que siempre esconde. Importante mencionar que en ese title-bar deje vacia la opcion de "data-hide-for" para que la barra que habilita a la otra barra siempre se muestre. Tambien manejo top-bar-left y top-bar-right. Importante revisar los menus verticales y solo horizontales para large y mediums screens-->
      <div class="top-bar" id="main_barra">
        <div class="top-bar-left">
          <div class="title-bar" data-responsive-toggle="second_barra" data-hide-for="" id="menu_hamburguer">
            <button class="menu-icon" type="button" data-toggle="second_barra"></button>
            <div class="title-bar-title texto_main_barra" id="texto_menu">Menu</div>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="" class="texto_main_barra text-center" id="login_menu_btn">ARE YOU MEMBER. <strong>LOGIN</strong></a></li>
            <li><a href="" class="texto_main_barra text-center" id="register_menu_btn">IF NOT, <strong>REGISTER NOW</strong></a></li>
          </ul>
        </div>
      </div>
        <div class="menu-centered" id="second_barra">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="{% url 'Home'%}" class="texto_main_barra"><span class="icon-home icon_menu"></span> Home</a></li>
            <li><a href="{% url 'shippers'%}" class="texto_main_barra"><span class="icon-shippers icon_menu"></span>For Shippers</a></li>
            <li><a href="{% url 'carriers'%}" class="texto_main_barra"><span class="icon-carriers icon_menu" style="font-weight: bolder;"></span>For Carriers</a></li>
            <li><a href="{% url 'story'%}" class="texto_main_barra"><span class="icon-story icon_menu"></span>Our Story</a></li>
            <li><a href="{% url 'faq'%}" class="texto_main_barra"><span class="icon-faq icon_menu"></span>FAQ</a></li>
            <li><a href="{% url 'team'%}" class="texto_main_barra"><span class="icon-team icon_menu"></span>Team</a></li>
            <li><a href="" class="texto_main_barra"><span class="icon-blog icon_menu"></span>Community</a></li>
          </ul>
         </div>
        <!--Aca empieza como tal el contneido de cada pagina--> 
          <div class="row column expanded foto_principal_faq">
            <div class="row column expanded filtro_negro">
              <div class=" row titulos">
                <div class="column large-7 medium-6 small-10">
                  <h1 class="text-left titulo_principal">NEGOTIATE DIRECTLY WHIT SHIPPERS</h1>
                  <h2 class="text-left subtitulo">Take the power of negotiation.</h2>
                  <p class="text-left texto_refuerzo">"Whith CargoBot, you take part of a transparent truck transportation network (3TN) that knows the power of negotiation should be in the carriers hands "</p>
                </div>
              </div>
              <div class="row cta_amarillo">
                <div class="column large-4 medium-4 small-8">
                  <a href="" class="button float-left boton_amarillo">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!--Bloque de Beneficios-->
          <div class="row column expanded members_team">
            <div class="row">
              <div class="column" style="padding: 0px;">
                <h2 class="titulo_members">A TEAM READY FOR YOU</h2>
                <h4 class="carrier_type_sub">MEMBERS WITH ALL THE BEST SKILLS</h4>
                <p class="carrier_type_text">Lorem ipsum dolor sit amet, id laboramus intellegam quo. Vix offendit mandamus id. Quo homero nominavi eu, eum at iudico iisque, mel an labitur luptatum reprimique. Eu summo decore populo vel, primis nostrud cu sed, eam in autem efficiantur.</p>
              </div>
            </div>
            <div class=" row acordeon">
              <ul class="accordion" data-accordion data-multi-expand="true">
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">Why should I use CargoBot</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot helps to solve the problems that shippers and carriers face within the industry: inefficiency, unproductiveness, and lack of transparency in all transactions. With CargoBot your job becomes efficient and productive because the communication lines between shippers and carriers become direct, all documents are electronically stored, and invoices and rate of confirmation’s are generated by our system. CargoBot provides you business with transparency. There are no hidden fees, all bids on shipments are visible by all carriers, carriers decide how they get paid and know exactly how much net income they will be making for each job they perform, and all carriers insurance and operating authority are stored within our system for shippers to have access to when working with the carrier.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">Is CargoBot a loadboard?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot is not a loadboard because with CargoBot carriers bid directly online for each job and that bidding is visible to all other carriers. Unlike loadboards, shippers negotiate directly with carriers. CargoBot simply provides the platform to allow both parties to meet but never gets involved in negotiations.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">What is CargoBot?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot is a free platform that helps connects shippers and carriers so that they may perform business directly with each other, without brokers. CargoBot allows you to complete all of your freight shipments in their entirety through our platform.</p>
                  </div>  
                </li>
              </ul>
            </div>
            </div>
          <!--Finalizacion Bloque de Beneficios-->       
          <div class="row column expanded foto_argumento_cierre">
            <div class="row column expanded filtro_amarillo">
              <div class="row contenedor_cierre">
                <div class="column large-centered small-centered">
                  <h2 class="text-center texto_cierre">Join Cargobot Today</h2>
                </div>
              </div>
              <div class="row">
                <div class="column large-4 medium-4 small-8 large-centered medium-centered small-centered">
                  <a href="" class="button expanded float-center boton_cierre">Request Access</a>
                </div>
              </div>
            </div>
          </div>
        <!--Aca finaliza el contenido de cada pagina--> 
        <!--Footer con top-bar y dividido en top-bar-left y top-bar right para alienar elementos a la derecha y a la izquierda-->
         <div class="top-bar" id="footer"><!--Un "id" para el Background Color-->
           <div class="top-bar-left">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-facebook icon_menu"></span>Facebook</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-instagram icon_menu"></span>Instagram</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-linkedin icon_menu"></span>Linkedin</a></li>
             </ul>
           </div>
           <div class="top-bar-right">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center">Terminos y Condiciones</a></li>
               <li class=""><a href="" class="textos_footer text-center">Politica y Privacidad</a></li>
               <li class=""><a href="" class="textos_footer text-center">2017 CargoBot Inc. </a></li>
               <li class=""><a href="" class="textos_footer text-center"><strong>By Mostaza Studio</strong></a></li>
             </ul>
           </div>
         </div>
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/vendor/what-input.js'%}"></script>
    <script src="{% static 'js/vendor/foundation.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
