{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CargoBot - Connecting the dots</title>
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet">
    <link href="https://file.myfontastic.com/rnpudCeVLo2WNTk3Pfp8MY/icons.css" rel="stylesheet">
  </head>
  <body>
    <!--Este es el menu con un clic que muestra una barra de menu secundaria, la hice creando un top-bar y dentro de ese top-bar metiendo un title-bar que es el que siempre esconde. Importante mencionar que en ese title-bar deje vacia la opcion de "data-hide-for" para que la barra que habilita a la otra barra siempre se muestre. Tambien manejo top-bar-left y top-bar-right. Importante revisar los menus verticales y solo horizontales para large y mediums screens-->
      <div class="top-bar" id="main_barra">
        <div class="top-bar-left">
          <div class="title-bar" data-responsive-toggle="second_barra" data-hide-for="" id="menu_hamburguer">
            <div class="" style="margin-right: 30px; padding: 0px;">
              <img src="{% static 'css/img/logo-c.png'%}">
            </div>  
            <button class="menu-icon" type="button" data-toggle="second_barra"></button>
            <div class="title-bar-title texto_main_barra" id="texto_menu">Menu</div>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="https://private.cargobot.io/login" class="texto_main_barra text-center" id="login_menu_btn">ALREADY A MEMBER? <strong>SIGN IN</strong></a></li>
            <!--<li><a href="" class="texto_main_barra text-center" id="register_menu_btn">IF NOT, <strong>REGISTER NOW</strong></a></li>-->
          </ul>
        </div>
      </div>
        <div class="menu-centered" id="second_barra">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="{% url 'Home'%}" class="texto_main_barra"><span class="icon-home icon_menu"></span> Home</a></li>
            <li><a href="{% url 'shippers'%}" class="texto_main_barra"><span class="icon-shippers icon_menu"></span>For Shippers</a></li>
            <li><a href="{% url 'carriers'%}" class="texto_main_barra"><span class="icon-carriers icon_menu" style="font-weight: bolder;"></span>For Carriers</a></li>
            <li><a href="{% url 'story'%}" class="texto_main_barra"><span class="icon-story icon_menu"></span>Our Story</a></li>
            <li><a href="{% url 'faq'%}" class="texto_main_barra"><span class="icon-faq icon_menu"></span>FAQ</a></li>
            <li><a href="{% url 'team'%}" class="texto_main_barra"><span class="icon-team icon_menu"></span>Team</a></li>
            <!--<li><a href="" class="texto_main_barra"><span class="icon-blog icon_menu"></span>Community</a></li>-->
          </ul>
         </div>
        <!--Aca empieza como tal el contneido de cada pagina--> 
          <div class="row column expanded foto_principal_faq">
            <div class="row column expanded filtro_negro">
              <div class=" row titulos">
                <div class="column large-7 medium-6 small-10">
                  <h1 class="text-left titulo_principal">TRANSPARENCY</h1>
                  <h2 class="text-left subtitulo">We want a partnership with you.</h2>
                  <p class="text-left texto_refuerzo">"Our principle as a company is transparency. It is important to know who you partner up with when doing business. We want partners, not clients."</p>
                </div>
              </div>
               <div class="row cta_amarillo">
                <div class="button-group large-4 medium-6 small-10 stacked-for-small stacked-for-medium small-centered">
                  <a href="{% url 'shippers'%}" class="button boton_amarillo expanded" style="margin-right: 10px; margin-bottom: 10px;">For Shippers</a>
                  <a href="{% url 'carriers'%}" class="button boton_amarillo expanded" style="margin-right: 10px; margin-bottom: 10px;">For Carriers</a>
                  </div>
              </div>
          <!--Bloque de Beneficios-->
          <div class="row column expanded members_team">
            <div class="row">
              <div class="column" style="padding: 0px;">
                <h2 class="titulo_members">DO YOU HAVE QUESTIONS?</h2>
                <h4 class="carrier_type_sub">WE HAVE ANSWERS</h4>
                <p class="carrier_type_text">For further inquiries please email us at shipperinfo@cargobot.io or carrierinfo@cargobot.io.</p>
              </div>
            </div>
            <div class=" row acordeon">
              <ul class="accordion" data-accordion data-multi-expand="true">
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">Why should I use CargoBot</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot helps to solve the problems that shippers and carriers face within the industry: inefficiency, unproductiveness, and lack of transparency in all transactions. With CargoBot your job becomes efficient and productive because the communication lines between shippers and carriers become direct, all documents are electronically stored, and invoices and rate of confirmation’s are generated by our system. CargoBot provides you business with transparency. There are no hidden fees, all bids on shipments are visible by all carriers, carriers decide how they get paid and know exactly how much net income they will be making for each job they perform, and all carriers insurance and operating authority are stored within our system for shippers to have access to when working with the carrier.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">Is CargoBot a loadboard?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot is not a loadboard because with CargoBot carriers bid directly online for each job and that bidding is visible to all other carriers. Unlike loadboards, shippers negotiate directly with carriers. CargoBot simply provides the platform to allow both parties to meet but never gets involved in negotiations.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">What is CargoBot?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot is a free platform that helps connects shippers and carriers so that they may perform business directly with each other, without brokers. CargoBot allows you to complete all of your freight shipments in their entirety through our platform.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">How does the payment system work?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot pays carriers how they choose to be paid: upon POD, 7 days, 15 days, 30 days, or carriers can use their own factoring company. Fuel advances are also offered. We guarantee carriers their payment and hold no money back from carriers, we pay out 100% of their payment.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">Who can use CargoBot?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">Shippers, fleet companies, and owner operators can use CargoBot.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">Do you work with reliable carriers?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot prescreens all carriers prior to allowing them join the network of carriers. Carriers insurance, Operating Authority, References, FMCSA record are verified by CargoBot prior to joining and while they are using CargoBot.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">How does CargoBot work?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">With CargoBot shippers have the ability to post their shipments online and multiple carriers bid on the load. Once a carrier wins a bid and has decided how they want to get paid a rate of confirmation is generated by CargoBot and must be signed by the carrier. The load hits the road and both parties have the ability to track the shipment with the GPS tool. Once it arrives to its delivery point the carrier uploads its POD through the app and an invoice is generated by CargoBot. All paperwork is stored and generated within the system. At the end of the transaction both parties have the ability to rate each other so others can use the criteria for future use.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">How much does it cost?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">CargoBot is free of charge for shippers. Carriers can also join free of charge adn will have the ability to receive loads and see what shippers are posting. However, once a carrier closes on a rate for a load and completes the job they will be charged a set fee per transaction (this fee is a set percentage and does not alter based on the monetary value of the transaction).</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">How do you solve cliams/disputes?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">In order to make a claim, the consignee must specify in the POD why the load was rejected, if the consignee fails to do so no claim will be accepted. To start the process carrier and shipper must take pictures of the documentation and status of the cargo and send them to our customer service line at 305-749-5490 or at customerservice@cargobot.io, stating the load number and a brief explanation of what happened. Once our ‘Internal Department’ has received all documentation we will proceed with the standard legal process.</p>
                  </div>  
                </li>
                <li class="accordion-item" data-accordion-item>
                  <a href="" class="accordion-title titulo_pregunta">Who can I contact in case of an issue?</a>
                  <div class="accordion-content faq_content" data-tab-content>
                    <p class="faq_question">For any questions or concerns please email us at customerservice@cargobot.io or call us at 305-749-5490.</p>
                  </div>  
                </li>
              </ul>
            </div>
            </div>
          <!--Finalizacion Bloque de Beneficios-->       
          <div class="row column expanded foto_argumento_cierre">
            <div class="row column expanded filtro_amarillo">
              <div class="row contenedor_cierre">
                <div class="column large-centered small-centered">
                  <h2 class="text-center texto_cierre">EFFICIENCY, TRANSPARENCY, RELIABILITY</h2>
                </div>
              </div>
              <div class="row">
                <div class="button-group large-4 medium-6 small-10 large-centered small-centered stacked-for-small stacked-for-medium">
                  <a href="{% url 'shippers'%}" class="button expanded float-center boton_cierre" style="margin-right: 10px;">For Shippers</a>
                  <a href="{% url 'carriers'%}" class="button expanded float-center boton_cierre">For Carriers</a>
                </div>
                </div>
              </div>
            </div>
          </div>
        <!--Aca finaliza el contenido de cada pagina--> 
        <!--Footer con top-bar y dividido en top-bar-left y top-bar right para alienar elementos a la derecha y a la izquierda-->
         <div class="top-bar" id="footerhome"><!--Un "id" para el Background Color-->
           <div class="top-bar-left">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="https://www.facebook.com/cargobot.io/" target="_blank" class="textos_footer text-center"><span class="icon-facebook icon_menu"></span>Facebook</a></li>
               <li class=""><a href="https://www.instagram.com/_cargobot_/" target="_blank" class="textos_footer text-center"><span class="icon-instagram icon_menu"></span>Instagram</a></li>
               <li class=""><a href="https://www.linkedin.com/company/cargobot" target="_blank"  class="textos_footer text-center"><span class="icon-linkedin icon_menu"></span>Linkedin</a></li>
               <li class=""><a href="https://twitter.com/_cargobot_?lang=en" target="_blank"  class="textos_footer text-center"><span class="icon-twitter icon_menu"></span>Twitter</a></li>
             </ul>
           </div>
           <div class="top-bar-right">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="{% static 'css/files/terms_cargobot.pdf'%}" target="_blank" class="textos_footer text-center">Terms and conditions</a></li>
               <li class=""><a href="" class="textos_footer text-center">Privacy policy</a></li>
               <li class=""><a href="" class="textos_footer text-center">2017 CargoBot LLC</a></li>
               <li class=""><a href="" class="textos_footer text-center"><strong>By Mostaza Studio</strong></a></li>
             </ul>
           </div>
         </div>
<!--Linked in tag-->
<script type="text/javascript"> _linkedin_data_partner_id = "120731"; </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=120731&fmt=gif" /> </noscript>
<!--Linked in tag-->
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/vendor/what-input.js'%}"></script>
    <script src="{% static 'js/vendor/foundation.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
