{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet">
    <link href="https://file.myfontastic.com/rnpudCeVLo2WNTk3Pfp8MY/icons.css" rel="stylesheet">
  </head>
  <body>
    <!--Este es el menu con un clic que muestra una barra de menu secundaria, la hice creando un top-bar y dentro de ese top-bar metiendo un title-bar que es el que siempre esconde. Importante mencionar que en ese title-bar deje vacia la opcion de "data-hide-for" para que la barra que habilita a la otra barra siempre se muestre. Tambien manejo top-bar-left y top-bar-right. Importante revisar los menus verticales y solo horizontales para large y mediums screens-->
      <div class="top-bar" id="main_barra">
        <div class="top-bar-left">
          <div class="title-bar" data-responsive-toggle="second_barra" data-hide-for="" id="menu_hamburguer">
            <button class="menu-icon" type="button" data-toggle="second_barra"></button>
            <div class="title-bar-title texto_main_barra" id="texto_menu">Menu</div>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="" class="texto_main_barra text-center" id="login_menu_btn">ARE YOU MEMBER. <strong>LOGIN</strong></a></li>
            <li><a href="" class="texto_main_barra text-center" id="register_menu_btn">IF NOT, <strong>REGISTER NOW</strong></a></li>
          </ul>
        </div>
      </div>
        <div class="menu-centered" id="second_barra">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="{% url 'Home'%}" class="texto_main_barra"><span class="icon-home icon_menu"></span> Home</a></li>
            <li><a href="{% url 'shippers'%}" class="texto_main_barra"><span class="icon-shippers icon_menu"></span>For Shippers</a></li>
            <li><a href="{% url 'carriers'%}" class="texto_main_barra"><span class="icon-carriers icon_menu" style="font-weight: bolder;"></span>For Carriers</a></li>
            <li><a href="{% url 'story'%}" class="texto_main_barra"><span class="icon-story icon_menu"></span>Our Story</a></li>
            <li><a href="{% url 'faq'%}" class="texto_main_barra"><span class="icon-faq icon_menu"></span>FAQ</a></li>
            <li><a href="{% url 'team'%}" class="texto_main_barra"><span class="icon-team icon_menu"></span>Team</a></li>
            <li><a href="" class="texto_main_barra"><span class="icon-blog icon_menu"></span>Community</a></li>
          </ul>
         </div>
        <!--Aca empieza como tal el contneido de cada pagina--> 
          <div class="row column expanded foto_home">
            <div class="row column expanded filtro_negro">
              <div class=" row titulos">
                <div class="column large-7 medium-6 small-10">
                  <h1 class="text-left titulo_principal">NEGOTIATE DIRECTLY WHIT SHIPPERS</h1>
                  <h2 class="text-left subtitulo">Take the power of negotiation.</h2>
                  <p class="text-left texto_refuerzo">"Whith CargoBot, you take part of a transparent truck transportation network (3TN) that knows the power of negotiation should be in the carriers hands "</p>
                </div>
              </div>
              <div class="row cta_amarillo" style="margin-bottom: 0px;">
                <div class="button-group large-4 medium-4 small-12 stacked-for-small stacked-for-medium">
                  <a href="" class="button float-left boton_amarillo expanded" style="margin-right: 10px; margin-bottom: 10px;">Read More</a>
                  <p><button class="hollow button float-left warning expanded" data-open="exampleModal1" style="font-size: 13px;font-weight: 400; font-family: 'Lato', sans-serif;padding-left: 35px !important;padding-right: 35px !important;padding-top: 15px !important;padding-bottom: 15px !important; margin-bottom: 0px;">Watch Video</button></p>
                </div>
              </div>
            </div>
          </div>
          <!--Un pop up para el video-->
          <div class="reveal" id="exampleModal1" data-reveal>
            <div class="responsive-embed">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/7BICt3NxAM8" frameborder="0" allowfullscreen></iframe>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span></button>
          </div>
        <!--Footer con top-bar y dividido en top-bar-left y top-bar right para alienar elementos a la derecha y a la izquierda-->
         <div class="top-bar" id="footer"><!--Un "id" para el Background Color-->
           <div class="top-bar-left">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-facebook icon_menu"></span>Facebook</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-instagram icon_menu"></span>Instagram</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-linkedin icon_menu"></span>Linkedin</a></li>
             </ul>
           </div>
           <div class="top-bar-right">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center">Terminos y Condiciones</a></li>
               <li class=""><a href="" class="textos_footer text-center">Politica y Privacidad</a></li>
               <li class=""><a href="" class="textos_footer text-center">2017 CargoBot Inc. </a></li>
               <li class=""><a href="" class="textos_footer text-center"><strong>By Mostaza Studio</strong></a></li>
             </ul>
           </div>
         </div>
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/vendor/what-input.js'%}"></script>
    <script src="{% static 'js/vendor/foundation.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
