{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet">
    <link href="https://file.myfontastic.com/rnpudCeVLo2WNTk3Pfp8MY/icons.css" rel="stylesheet">
  </head>
  <body>
    <!--Este es el menu con un clic que muestra una barra de menu secundaria, la hice creando un top-bar y dentro de ese top-bar metiendo un title-bar que es el que siempre esconde. Importante mencionar que en ese title-bar deje vacia la opcion de "data-hide-for" para que la barra que habilita a la otra barra siempre se muestre. Tambien manejo top-bar-left y top-bar-right. Importante revisar los menus verticales y solo horizontales para large y mediums screens-->
     <div class="top-bar" id="main_barra">
        <div class="top-bar-left">
          <div class="title-bar" data-responsive-toggle="second_barra" data-hide-for="" id="menu_hamburguer">
            <div class="" style="margin-right: 30px; padding: 0px;">
              <img src="{% static 'css/img/logo-c.png'%}">
            </div>  
            <button class="menu-icon" type="button" data-toggle="second_barra"></button>
            <div class="title-bar-title texto_main_barra" id="texto_menu">Menu</div>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="" class="texto_main_barra text-center" id="login_menu_btn">ALREADY A MEMBER? <strong>SIGN IN</strong></a></li>
            <!--<li><a href="" class="texto_main_barra text-center" id="register_menu_btn">IF NOT, <strong>REGISTER NOW</strong></a></li>-->
          </ul>
        </div>
      </div>
        <div class="menu-centered" id="second_barra">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="{% url 'Home'%}" class="texto_main_barra"><span class="icon-home icon_menu"></span> Home</a></li>
            <li><a href="{% url 'shippers'%}" class="texto_main_barra"><span class="icon-shippers icon_menu"></span>For Shippers</a></li>
            <li><a href="{% url 'carriers'%}" class="texto_main_barra"><span class="icon-carriers icon_menu" style="font-weight: bolder;"></span>For Carriers</a></li>
            <li><a href="{% url 'story'%}" class="texto_main_barra"><span class="icon-story icon_menu"></span>Our Story</a></li>
            <li><a href="{% url 'faq'%}" class="texto_main_barra"><span class="icon-faq icon_menu"></span>FAQ</a></li>
            <li><a href="{% url 'team'%}" class="texto_main_barra"><span class="icon-team icon_menu"></span>Team</a></li>
            <li><a href="" class="texto_main_barra"><span class="icon-blog icon_menu"></span>Community</a></li>
          </ul>
         </div>
        <!--Aca empieza como tal el contneido de cada pagina--> 
          <div class="row column expanded foto_principal_story">
            <div class="row column expanded filtro_negro">
              <div class=" row titulos">
                <div class="column large-7 medium-6 small-10">
                  <h1 class="text-left titulo_principal">CHANGE IS INEVITABLE</h1>
                  <h2 class="text-left subtitulo">We believe change is growth.</h2>
                  <p class="text-left texto_refuerzo">"Act today to become part of a network of pioneers, who are breaking ground to work in a business manner of the future."</p>
                </div>
              </div>
              <div class="row cta_amarillo">
                <div class="column large-4 medium-4 small-8">
                  <a href="" class="button float-left boton_amarillo">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!--Bloque de Beneficios-->
          <div class="row column expanded ourstory1">
            <div class="row">
              <div class="column" style="padding: 0px;">
                <h2 class="titulo_members text-center">MISSION</h2>
                <h4 class="carrier_type_sub text-center">CONNECTING THE DOTS</h4>
                <p class="carrier_type_text" style="margin-bottom: 60px; margin-top: 30px;">CargoBot is committed to efficiently and effectively connect shippers and carrier through the use of innovative technology.</p>
              </div>
            </div>
            </div>
            <div class="row column expanded ourstory2">
            <div class="row">
              <div class="column" style="padding: 0px;">
                <h2 class="titulo_members text-center">VISION</h2>
                <h4 class="story_type_sub text-center">THE 3TN</h4>
                <p class="story_type_text" style="margin-bottom: 60px; margin-top: 30px;">CargoBot exists to fix the deficiencies of the ground transportation processing system in an ever evolving industry with an innovative business model using technology.</p>
              </div>
            </div>
            </div>
            <div class="row column expanded ourstory1">
            <div class="row">
              <div class="column" style="padding: 0px;">
                <h2 class="titulo_members text-center">OUR ROAD MAP</h2>
                <h4 class="carrier_type_sub text-center">TAKE THE RIDE WITH US</h4>
                <p class="carrier_type_text" style="margin-bottom: 60px; margin-top: 30px;">In 2014, the co-founders of CargoBot with more than 20 years of experience in technology, freight brokering, technology development, and consulting services world met as real time users and intermediaries between shippers and carriers.<br><br>By 2015, they began the first steps in the creation of CargoBot. Finding the need to improve the process of the FTL inland freight services in the Unites States, they began with the creation of an idea that would integrate all of the process in one for both shippers and carriers by relying on technology.<br><br>In 2016, the portals for shippers and fleet companies is created as well as the app for fleet drivers and owner operators. CargoBot is launched to the market in May of 2017.</p>
              </div>
            </div>
            </div>
          <!--Finalizacion Bloque de Beneficios-->       
          <div class="row column expanded foto_argumento_cierre">
            <div class="row column expanded filtro_amarillo">
              <div class="row contenedor_cierre">
                <div class="column large-centered small-centered">
                  <h2 class="text-center texto_cierre"> EFFICIENCY, TRANSPARENCY, RELIABILITY</h2>
                </div>
              </div>
              <div class="row">
                <div class="column large-4 medium-4 small-8 large-centered medium-centered small-centered">
                  <a href="" class="button expanded float-center boton_cierre">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        <!--Aca finaliza el contenido de cada pagina--> 
        <!--Footer con top-bar y dividido en top-bar-left y top-bar right para alienar elementos a la derecha y a la izquierda-->
         <div class="top-bar" id="footer"><!--Un "id" para el Background Color-->
           <div class="top-bar-left">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-facebook icon_menu"></span>Facebook</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-instagram icon_menu"></span>Instagram</a></li>
               <li class=""><a href="" class="textos_footer text-center"><span class="icon-linkedin icon_menu"></span>Linkedin</a></li>
             </ul>
           </div>
           <div class="top-bar-right">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="" class="textos_footer text-center">Terminos y Condiciones</a></li>
               <li class=""><a href="" class="textos_footer text-center">Politica y Privacidad</a></li>
               <li class=""><a href="" class="textos_footer text-center">2017 CargoBot Inc. </a></li>
               <li class=""><a href="" class="textos_footer text-center"><strong>By Mostaza Studio</strong></a></li>
             </ul>
           </div>
         </div>
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/vendor/what-input.js'%}"></script>
    <script src="{% static 'js/vendor/foundation.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
