{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CargoBot - Connecting the dots</title>
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" rel="stylesheet">
    <link href="https://file.myfontastic.com/rnpudCeVLo2WNTk3Pfp8MY/icons.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106873619-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106873619-1');
</script>
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');

 fbq('init', '499239487118466'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=499239487118466&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
  </head>
  <body>
    <!--Este es el menu con un clic que muestra una barra de menu secundaria, la hice creando un top-bar y dentro de ese top-bar metiendo un title-bar que es el que siempre esconde. Importante mencionar que en ese title-bar deje vacia la opcion de "data-hide-for" para que la barra que habilita a la otra barra siempre se muestre. Tambien manejo top-bar-left y top-bar-right. Importante revisar los menus verticales y solo horizontales para large y mediums screens-->
      <div class="top-bar" id="main_barra">
        <div class="top-bar-left">
          <div class="title-bar" data-responsive-toggle="second_barra" data-hide-for="" id="menu_hamburguer">
            <div class="" style="margin-right: 30px; padding: 0px;">
              <!--Add homepage link to logo-->
              <a href="http://cargobot.io/">
              <img src="{% static 'css/img/logo-c.png'%}" alt="CargoBot">
              </a>
            </div>  
            <button class="menu-icon" type="button" data-toggle="second_barra"></button>
            <div class="title-bar-title texto_main_barra" id="texto_menu">Menu</div>
          </div>
        </div>
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="https://private.cargobot.io/login" class="texto_main_barra text-center" id="login_menu_btn">ALREADY A MEMBER? <strong>SIGN IN</strong></a></li>
            <!--<li><a href="" class="texto_main_barra text-center" id="register_menu_btn">IF NOT, <strong>REGISTER NOW</strong></a></li>-->
          </ul>
        </div>
      </div>
        <div class="menu-centered" id="second_barra">
          <ul class="menu vertical medium-horizontal large-horizontal">
            <li><a href="{% url 'Home'%}" class="texto_main_barra"><span class="icon-home icon_menu"></span> Home</a></li>
            <li><a href="{% url 'shippers'%}" class="texto_main_barra"><span class="icon-shippers icon_menu"></span>For Shippers</a></li>
            <li><a href="{% url 'carriers'%}" class="texto_main_barra"><span class="icon-carriers icon_menu" style="font-weight: bolder;"></span>For Carriers</a></li>
            <li><a href="{% url 'story'%}" class="texto_main_barra"><span class="icon-story icon_menu"></span>Our Story</a></li>
            <li><a href="{% url 'faq'%}" class="texto_main_barra"><span class="icon-faq icon_menu"></span>FAQ</a></li>
            <li><a href="{% url 'team'%}" class="texto_main_barra"><span class="icon-team icon_menu"></span>Team</a></li>
            <!--<li><a href="" class="texto_main_barra"><span class="icon-blog icon_menu"></span>Community</a></li>-->
          </ul>
         </div>
        <!--Aca empieza como tal el contneido de cada pagina--> 
          <div class="row column expanded foto_principal_team">
            <div class="row column expanded filtro_negro">
              <div class=" row titulos">
                <div class="column large-7 medium-6 small-10">
                  <h1 class="text-left titulo_principal">OUR TEAM IS YOUR TEAM</h1>
                  <h2 class="text-left subtitulo">Consider us a part of your company.</h2>
                  <p class="text-left texto_refuerzo">"We bring technology to your hands backed by a committed team. Consider CargoBot a part of your recruiting, operations, finance, and customer service departments."</p>
                </div>
              </div>
              <div class="row cta_amarillo">
                <div class="button-group large-4 medium-6 small-10 stacked-for-small stacked-for-medium small-centered">
                  <a href="{% url 'shippers'%}" class="button boton_amarillo expanded" style="margin-right: 10px; margin-bottom: 10px;">For Shippers</a>
                  <a href="{% url 'carriers'%}" class="button boton_amarillo expanded" style="margin-right: 10px; margin-bottom: 10px;">For Carriers</a>
                  </div>
              </div>
            </div>
          </div>
          <!--Bloque de Beneficios-->
          <div class="row column expanded members_team">
            <div class="row">
              <div class="column" style="padding: 0px;">
                <h2 class="titulo_members">BUILDING TOGETHER</h2>
                <h4 class="carrier_type_sub">MEMBERS WITH THE BEST SKILLS.</h4>
                <p class="carrier_type_text">"We have brought experience,talent, dedication, passion, and creativity at your disposition."</p>
              </div>
            </div>
            <div class="row small-up-1 medium-up-2 large-up-3 grilla_members">
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/member1.png' %}" class="">
                <br>
                <p class="texto_b_member">Fernando Correa</p>
                <p class="texto_n_member"><strong>CEO / Co-Founder</strong>""</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/member2.png' %}" class="">
                <br>
                <p class="texto_b_member">Catalina Machado</p>
                <p class="texto_n_member"><strong>Co-Founder</strong>""</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/member3.png' %}" class="">
                <br>
                <p class="texto_b_member">Gustavo Medina</p>
                <p class="texto_n_member"><strong>Co-Founder</strong>""</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/member4.png' %}" class="">
                <br>
                <p class="texto_b_member">Daniel Perez</p>
                <p class="texto_n_member"><strong>Operations Manager</strong>""</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/member5.png' %}" class="">
                <br>
                <p class="texto_b_member">Paula Zuluaga</p>
                <p class="texto_n_member"><strong>Director of Marketing / Recruiting</strong>""</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/member6.png' %}" class="">
                <br>
                <p class="texto_b_member">Sandra Arcila</p>
                <p class="texto_n_member"><strong>Business Developer</strong>""</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
              <!--Elemento de grilla beneficios-->
              <div class="column column-block ">
                <img src="{% static 'css/img/member7.png' %}" class="">
                <br>
                <p class="texto_b_member">Izzat Sabbag Rodriguez</p>
                <p class="texto_n_member"><strong>Product Developer</strong>""</p>
              </div>
              <!--Fin elemento de grilla beneficios-->
            </div>
          </div>
          <!--Finalizacion Bloque de Beneficios-->       
          <div class="row column expanded foto_argumento_cierre">
            <div class="row column expanded filtro_amarillo">
              <div class="row contenedor_cierre">
                <div class="column large-centered small-centered">
                  <h2 class="text-center texto_cierre">EFFICIENCY, TRANSPARENCY, RELIABILITY</h2>
                </div>
              </div>
              <div class="row">
                <div class="button-group large-4 medium-6 small-10 large-centered small-centered stacked-for-small stacked-for-medium">
                  <a href="{% url 'shippers'%}" class="button expanded float-center boton_cierre" style="margin-right: 10px;">For Shippers</a>
                  <a href="{% url 'carriers'%}" class="button expanded float-center boton_cierre">For Carriers</a>
                </div>
              </div>
            </div>
          </div>
        <!--Aca finaliza el contenido de cada pagina--> 
        <!--Footer con top-bar y dividido en top-bar-left y top-bar right para alienar elementos a la derecha y a la izquierda-->
         <div class="top-bar" id="footerhome"><!--Un "id" para el Background Color-->
           <div class="top-bar-left">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="https://www.facebook.com/cargobot.io/" target="_blank" class="textos_footer text-center"><span class="icon-facebook icon_menu"></span>Facebook</a></li>
               <li class=""><a href="https://www.instagram.com/_cargobot_/" target="_blank" class="textos_footer text-center"><span class="icon-instagram icon_menu"></span>Instagram</a></li>
               <li class=""><a href="https://www.linkedin.com/company/cargobot" target="_blank"  class="textos_footer text-center"><span class="icon-linkedin icon_menu"></span>Linkedin</a></li>
               <li class=""><a href="https://twitter.com/_cargobot_?lang=en" target="_blank"  class="textos_footer text-center"><span class="icon-twitter icon_menu"></span>Twitter</a></li>
             </ul>
           </div>
           <div class="top-bar-right">
             <ul class="menu vertical medium-horizontal large-horizontal" id="redes_sociales">
               <li class=""><a href="{% static 'css/files/terms_cargobot.pdf'%}" target="_blank" class="textos_footer text-center">Terms and conditions</a></li>
               <li class=""><a href="" class="textos_footer text-center">Privacy policy</a></li>
               <li class=""><a href="" class="textos_footer text-center">2017 CargoBot LLC</a></li>
               <li class=""><a href="" class="textos_footer text-center"><strong>By Mostaza Studio</strong></a></li>
             </ul>
           </div>
         </div>
    <script src="{% static 'js/vendor/jquery.js'%}"></script>
    <script src="{% static 'js/vendor/what-input.js'%}"></script>
    <script src="{% static 'js/vendor/foundation.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3933178.js"></script>
<!-- End of HubSpot Embed Code -->
  </body>
</html>
